// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Variables


*{
    font-family: 'nunito';
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(74,175,244);
    background: radial-gradient(circle, rgba(74,175,244,1) 32%, rgba(74,78,244,1) 100%);
}
.todo svg:hover{
    cursor: pointer;
}
