<template>
    <div class="text-2xl text-white-800">
        <h1 style="color:white">About</h1>
        <!-- <p>Message is: {{ user.id }}</p> -->
    </div>
</template>
<script>
export default {

}
</script>
